* {
  font-family:"Ubuntu", sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  color: blue;
  background-color: DEE3DB;
}


#board {
  margin-left: auto;
  margin-right: auto;
  border: 8px solid #1573Ec;
  width: 700px;
  height: 600px;
}

.square {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  text-align: center;
}

#newGame {
  margin-bottom: 10px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

#message {
  margin-bottom: inherit;
}

#redCircle{
  width: 75px;
  height: 75px;
  background: red;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
}

#blueCircle{
  width: 75px;
  height: 75px;
  background: blue;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%
}

#blueWin {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#redWin {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
